{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seller Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>

<body>

<!-- ================= NAVBAR ================= -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">SellerPanel</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">

                <li class="nav-item">
                    <a class="nav-link active" href="">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Add Product</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Orders</a>
                </li>
                {% if request.session.email %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" data-bs-toggle="dropdown">
                        <img src="{{ request.session.profile_pic }}" alt="Profile"
                             class="rounded-circle me-2"
                             width="35" height="35"
                             style="object-fit: cover;">

                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<!-- ================= FOOTER ================= -->
<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <p class="mb-0">© 2026 Seller Panel | All Rights Reserved</p>
    </div>
</footer>


<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>